body {
  background-color: #10121D;
  color: #426496;
  font-family: "Muli", sans-serif;
  font-size: 17px;
  font-weight: 300; }
  body a {
    text-decoration: none; }
    body a:hover {
      color: #FFE700;
      border-bottom: 1px solid #FFE700;
      text-decoration: none; }
    @media screen and (max-width: 767px) {
      body a {
        font-size: 15px; } }

.container-color {
  border: 1px solid #426496;
  margin-right: 10px;
  height: 24px;
  width: 24px;
  position: relative;
  top: 8px;
  display: inline-block; }

.logo:hover {
  border-bottom: none; }

#index-background {
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: -1; }
  @media screen and (max-width: 767px) {
    #index-background {
      top: 50px; } }
  #index-background img {
    width: 100%; }

.navbar {
  background-color: transparent;
  border: none;
  margin-top: 10px; }
  .navbar .navbar-header {
    display: inline-block; }
    .navbar .navbar-header img {
      width: 100%; }
    @media screen and (max-width: 767px) {
      .navbar .navbar-header {
        width: 75%; } }
  .navbar .navbar-nav {
    margin-top: 20px; }
    .navbar .navbar-nav li .menu-actived {
      color: #FFE700;
      display: inline-block;
      position: relative;
      top: 2px;
      left: 12px; }
    .navbar .navbar-nav li a {
      border-bottom: 1px solid transparent;
      color: #FFE700;
      text-transform: uppercase;
      font-size: 18px;
      display: inline-block; }
      .navbar .navbar-nav li a:hover {
        color: #FFE700;
        border-bottom: 1px solid #FFE700; }
      .navbar .navbar-nav li a:active {
        color: #FFE700; }
      .navbar .navbar-nav li a:focus {
        color: #FFE700; }
  .navbar .navbar-toggle {
    background-color: transparent;
    border: 1px solid #FFE700;
    margin-right: 0;
    margin-top: 13px; }
    .navbar .navbar-toggle:hover {
      background-color: transparent; }
    .navbar .navbar-toggle:focus {
      background-color: transparent; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #FFE700; }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    margin: -10px 0 0; }

#info {
  color: #00CFFF;
  margin: 95px 0; }
  @media screen and (max-width: 992px) {
    #info {
      margin: 20px 0 40px; } }
  @media screen and (max-width: 767px) {
    #info {
      margin: -10px 0 5px; } }
  #info .container {
    padding: 0 10%;
    display: table; }
    @media screen and (max-width: 767px) {
      #info .container h1 {
        font-size: 18px; } }
  #info .image-info-container {
    display: table-cell;
    vertical-align: middle;
    width: 100px; }
    @media screen and (max-width: 767px) {
      #info .image-info-container {
        width: 50px; } }
    #info .image-info-container img {
      width: 100%; }
  #info .text-info-container {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }
    @media screen and (max-width: 767px) {
      #info .text-info-container {
        padding: 0 10px; } }
    #info .text-info-container h3 {
      line-height: 40px;
      padding: 0;
      margin: 0; }
      @media screen and (max-width: 767px) {
        #info .text-info-container h3 {
          font-size: 12px;
          line-height: 20px; } }

#ships-index {
  text-transform: uppercase;
  margin-bottom: 50px; }
  #ships-index a {
    text-decoration: none; }
  #ships-index .ship-card {
    background-color: black;
    border: 2px solid #426496;
    border-radius: 4px;
    color: #426496;
    margin: 4px -11px; }
    #ships-index .ship-card:hover {
      box-shadow: 0 0 0 2px #FFE700;
      border: 2px solid #FFE700; }
    #ships-index .ship-card .image-index-container {
      margin: 30px 0;
      min-height: 150px; }
      #ships-index .ship-card .image-index-container img {
        display: block;
        margin: 0 auto;
        width: 100%; }
        @media screen and (max-width: 767px) {
          #ships-index .ship-card .image-index-container img {
            width: 75%; } }
    #ships-index .ship-card .card-title {
      color: #FFE700;
      text-align: center;
      height: 35px; }
    #ships-index .ship-card .data {
      color: #8AA9D6; }
    #ships-index .ship-card .list-group {
      padding-left: 10px;
      padding-right: 10px; }
      #ships-index .ship-card .list-group .list-group-item {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #203048;
        padding-left: 5px;
        padding-right: 5px; }
      #ships-index .ship-card .list-group .list-group-item:last-child {
        border-bottom: none; }

.ship-show {
  color: rgba(255, 255, 255, 0.7); }
  .ship-show h1 {
    color: #FFE700;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .ship-show h1 {
        font-size: 20px; } }
  .ship-show h4 {
    border-bottom: 3px solid white;
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 140px; }
  @media screen and (max-width: 767px) {
    .ship-show #ship-detail {
      font-size: 12px; } }
  .ship-show #ship-detail #ship-description img {
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #426496;
    border-radius: 4px; }
  .ship-show #ship-detail #ship-description table {
    width: 80%;
    margin: 30px auto; }
    .ship-show #ship-detail #ship-description table th, .ship-show #ship-detail #ship-description table td {
      padding: 20px 0;
      text-align: center;
      border-right: 1px solid #426496; }
    .ship-show #ship-detail #ship-description table th:last-child, .ship-show #ship-detail #ship-description table td:last-child {
      border-right: none; }
    .ship-show #ship-detail #ship-description table th {
      border-bottom: 1px solid #426496;
      text-transform: uppercase; }
  .ship-show #ship-preferences {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 60px 0 0;
    padding: 60px 0; }
    .ship-show #ship-preferences h2 {
      color: #00CFFF;
      margin: 0 0 50px; }
    .ship-show #ship-preferences input {
      color: #426496;
      border: 2px solid #426496;
      border-radius: 4px;
      padding: 0 5px; }
    .ship-show #ship-preferences label {
      font-weight: 300; }
    .ship-show #ship-preferences #booking-color-select {
      color: #426496; }
    .ship-show #ship-preferences .row {
      margin-bottom: 20px; }
    .ship-show #ship-preferences .btn {
      background-color: #FFE700;
      border: 2px solid white;
      color: #426496;
      font-size: 1em;
      font-weight: bold;
      margin: 50px 0 0;
      padding: 5px 50px;
      text-transform: uppercase; }

#bookings-index #bookings-table {
  margin-bottom: 80px;
  width: 100%; }
  #bookings-index #bookings-table tr {
    border-bottom: 1px solid #00CFFF; }
  #bookings-index #bookings-table th {
    color: #8AA9D6; }
  #bookings-index #bookings-table td, #bookings-index #bookings-table th {
    padding: 30px 0; }
    @media screen and (max-width: 767px) {
      #bookings-index #bookings-table td, #bookings-index #bookings-table th {
        padding: 10px 0; } }
  @media screen and (max-width: 767px) {
    #bookings-index #bookings-table .bk-color {
      display: none; } }
  @media screen and (max-width: 767px) {
    #bookings-index #bookings-table .bk-crew {
      display: none; } }
  @media screen and (max-width: 767px) {
    #bookings-index #bookings-table .bk-troops {
      display: none; } }

footer {
  background-color: #203048;
  color: #426496; }
  footer #footer-container {
    padding: 40px; }
    footer #footer-container #footer-logo-container {
      float: left; }
    footer #footer-container #copy-container {
      color: white;
      font-size: 13px;
      float: right;
      margin: 7px 0 0 35px; }
    footer #footer-container #legal-txt {
      margin-top: 30px; }

/*# sourceMappingURL=app.css.map */
